.navbar {
  background-color: #2c3e50;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.navbar-logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  gap: 1rem;
  position: relative;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  position: relative;
}

.nav-item:hover,
.nav-item.active {
  background-color: #1abc9c;
  transition: 0.3s ease;
}

/* Dropdown styles */
.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-toggle {
  color: #fff;
  padding: 10px 15px;
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  background-color: #34495e;
  flex-direction: column;
  min-width: 200px;
  border-radius: 5px;
  z-index: 1000;
}

.dropdown-item {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #1abc9c;
}

.dropdown:hover .dropdown-menu {
  display: flex;
}

/* Mobile menu */
.mobile-menu-icon {
  display: none;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-menu {
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: -100%;
    width: 100%;
    background-color: #2c3e50;
    transition: 0.5s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item,
  .dropdown-toggle {
    padding: 1.5rem;
    text-align: center;
  }

  .dropdown-menu {
    position: static;
    background-color: #2c3e50;
    display: none;
    flex-direction: column;
  }

  .dropdown:hover .dropdown-menu {
    display: flex;
  }

  .dropdown-item {
    padding: 1rem;
    border-top: 1px solid #444;
  }

  .mobile-menu-icon {
    display: block;
  }
}



.logout-icon-desktop {
  color: #be0404;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 15px;
  display: block;
}

.logout-icon-mobile {
  display: none;
  color: #be0404;
  text-align: center;
  padding: 1.5rem;
  cursor: pointer;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .logout-icon-desktop {
    display: none;
  }

  .logout-icon-mobile {
    display: block;
  }
}
